@import "bootstrap-sprockets";
@import "bootstrap";
body {
    background-image: url("img.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.container {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
#for all user
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;

}
